{%load static%}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/css/uikit.min.css" />
  <link href="{%static  'images/undraw_medicine_b1ol.png'%}" rel="shortcut icon"/> 
 <title> {% block title%} {% endblock%}</title>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
  <style>
    .AppBgColor{
        background-color:#193c02;
        
    }
    .AppColor{
        color:#193c02;
    }
    .AppBgColor:hover{
        background-color:#367c07
    }
  </style>
</head>
<body>
  <header>

    <div class="py-4 px-2 lg:mx-4 xl:mx-12 ">
        <div class="">
            <nav class="flex items-center justify-between flex-wrap  ">
                <div class="block lg:hidden">
                    <button
                        class="navbar-burger flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white">
                        <svg class="fill-current h-6 w-6 text-gray-700" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>Menu</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                        </svg>
                    </button>
                </div>
                <div id="main-nav" class="w-full flex-grow lg:flex items-center lg:w-auto hidden  ">
                    <div class="text-sm lg:flex-grow mt-2 animated jackinthebox xl:mx-8">
                        <a href="/"
                            class="block lg:inline-block text-md font-bold  text-orange-500  sm:hover:border-indigo-400  hover:text-orange-500 mx-2 focus:text-blue-500  p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                            HOME
                        </a>
                        <a href="{% url 'login' %}"
                            class="block lg:inline-block text-md font-bold  text-gray-900  sm:hover:border-indigo-400  hover:text-orange-500 mx-2 focus:text-blue-500  p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                            Health Center
                        </a>
                        <a href="{% url 'request_health_worker'%}"
                            class="block lg:inline-block text-md font-bold  text-gray-900  sm:hover:border-indigo-400  hover:text-orange-500 mx-2 focus:text-blue-500  p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                            Request Health Worker
                        </a>
                    
                     
                    </div>
                </div>
            </nav>
        </div>
    </div>
  
  </header>
  
 {% block body%}
 {% endblock %}
</body>
</html>