{% extends 'base/healthCenter/base.html'%}

{% block main%}

<section class="container px-4 mx-auto mt-10">

<div class="flex items-center justify-center p-4">
  
  
    <div class="mx-auto w-full max-w-[550px]">
        {%if form.errors%}
        <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{form.errors}}</p>
        </div>
        {%endif%}
        
        {% if messages %}
        <div class="uk-alert-success" uk-alert>
          {% for message in messages %}
          <a class="uk-alert-close" uk-close></a>
          <p class="added">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif%}

      <form method="POST">
        {% csrf_token%}
        <h4 class="mb-3 block text-[#07074D] font-bold underline text-xl text-center">Add Family form</h3>
        <div class="mb-5">
          <label
            for="name"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
           Full Name
          </label>
          <input
            type="text"
            name="full_name"
            id="name"
            placeholder="Kamali"
            class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"
           required
            />
        </div>
        <div class="mb-5">
            <label
              for="name"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
             Date of birth
            </label>
            <input
              type="date"
              name="birth_date"
              id="birth_date"
              placeholder="11990..."
              required
              class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"            />
          </div>
             
          <div class="max-w-2xl mx-auto my-4">

            <label for="countries" class="mb-3 block text-base font-medium text-[#07074D]">Select a Village</label>
                <select
                name="village"
                id="countries" class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md">
                {%for dt in form.village%}
                {{dt}}
                {%endfor%}
       
            </select>
        
         
        </div>
            <div class="mb-5">
                <label
                  for="name"
                  class="mb-3 block text-base font-medium text-[#07074D]"
                >
                 Short Description
                </label>
                <textarea
                  name="description"
                 rows="8"
                  class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"
                ></textarea>
              </div>
        <div>
          <button
            class="mb-1.5 block w-full text-center text-white AppBgColor px-2 py-2 font-semibold rounded-md"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>


  
</section>

{%endblock%}