{% extends 'base/healthCenter/base.html'%}

{% block css%}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>
{%endblock%}

{% block main%}

<section class="container px-4 mx-auto mt-10">
    <div class="sm:flex sm:items-center sm:justify-between">
        <div>
            <p class="mt-1 text-sm text-gray-500 ">Pregnancies list.</p>
        </div>
    </div>

    {%if form.errors%}
    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{form.errors}}.</p>
    </div>
    {%endif%}

      
    {% if messages %}
    <div class="uk-alert-success" uk-alert>
      {% for message in messages %}
      <a class="uk-alert-close" uk-close></a>
      <p class="added">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif%}

    <div class="mt-6 md:flex md:items-center md:justify-between">
        <div class="inline-flex overflow-hidden  divide-x rounded-lg  rtl:flex-row-reverse ">
        <a href="" class="AppBgColor px-2 py-2 text-white font-semibold hover:text-white hover:no-underline">
            <button uk-toggle="target: #my-id" type="button" class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-plus-circle " viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>
                Add Pregnancy</button>
            </a>
        </div>

        <form method="GET">
            <div class="relative flex items-center mt-4 md:mt-0">
                <span class="absolute">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-3 text-gray-400 dark:text-gray-600">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                </span>
    
                <input name="search" type="text" placeholder="Search" class="block w-full py-2 pr-5 text-gray-700 bg-white border border-gray-200 rounded-l-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5  focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
            <button class=" block w-full text-center text-white AppBgColor px-2 py-2 font-semibold rounded-r-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
            </button>
        </div>
    </form>
    </div>

    <div class="flex flex-col mt-6">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <button class="flex items-center gap-x-3 focus:outline-none">
                                        <span>Full Name</span>

                                    </button>
                                </th>
                                <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Description
                                </th>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <button class="flex items-center gap-x-3 focus:outline-none">
                                        <span>Phone Number</span>
                                    </button>
                                </th>
                                <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Birth Date
                                </th>
                                <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Village
                                </th>

                                <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Assigned Health worker
                                </th>


                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Created at</th>
                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Action</th>

                               
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                            {% for contact in all_mal %}
                            <tr>
                                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                    <div>
                                        <h2 class="font-medium text-gray-800 dark:text-white ">{{contact.full_name}}</h2>
                                </td>
                              
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div>
                                        <h4 class="text-gray-700 dark:text-gray-200">{{contact.description|slice:150}}</h4>
                                    </div>
                                </td>

                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div>
                                        <h4 class="text-gray-700 dark:text-gray-200">{{contact.phone}}</h4>
                                    </div>
                                </td>

                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div>
                                        <h4 class="text-gray-700 dark:text-gray-200">{{contact.birth_date|date}}</h4>
                                    </div>
                                </td>
                                <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
                                    <div class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                                      {{contact.village}}
                                    </div>
                                </td>
                            
                                <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
                                    <div class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                                      {{contact.vigirant}}
                                    </div>
                                </td>
                            
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    {{contact.created_on}}
                                </td>

                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                   <div class="flex w-full gap-2">
                                   {% if contact.clinic  == request.user %}
                                   <button type="button"  uk-toggle="target: #modal-example-2" class="inline px-3 py-1 text-sm font-normal rounded-full text-red-500 gap-x-2 bg-red-600 dark:bg-gray-800">
                                        Remove
                                   </button>
                                   <a href="{% url 'edit_pregnancy' contact.id%}">
                                    <div class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                                        Edit
                                    </div></a>
                                    <a href="{% url 'assign_pregnancy' contact.id%}">
                                        <div class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                                            Assign
                                        </div></a>
                                    {%endif%}
                                   
                                   </div>
                                </td>
                            </tr>
                            <div id="modal-example-2" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                    <h2 class="uk-modal-title">Warning</h2>
                                    <p>Are you sure  u want remove to the list  <span class="text-green-500">{{inst.full_name}}</span> ?</p>
                                    <p class="uk-text-right">
                                        <button class="uk-button bg-blue-700 hover:bg-blue-500 text-white rounded-md uk-modal-close" type="button">No</button>
                                        <a href="{% url 'remove_pregnancy' contact.id%}" class="uk-button bg-red-700 hover:bg-red-500 text-white rounded-md" type="button">Yes</a>
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6 sm:flex sm:items-center sm:justify-between ">
        <div class="text-sm text-gray-500 dark:text-gray-400">
            Page <span class="font-medium text-gray-700">{%if page_number%}{{page_number}}{% else %} 1{%endif%} of {{count}}</span> 
        </div>

        <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
            {% if all_mal.has_previous %}
            <a href="?page={{ all_mal.previous_page_number }}" class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                </svg>

                <span>
                    previous
                </span>
            </a>
            {%endif%}
            {% if all_mal.has_next %}
            <a href="?page={{ all_mal.next_page_number }}" class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
                <span>
                    Next
                </span>

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                </svg>
            </a>
            {%endif%}
        </div>
    </div>
</section>

<div id="my-id" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
       

<div class="flex items-center justify-center p-4">
  
  
    <div class="mx-auto w-full max-w-[550px]">
      <form method="POST">
        {% csrf_token%}
        <h4 class="mb-3 block text-[#07074D] font-bold underline text-xl text-center">Add Pregnancy form</h3>
        <div class="mb-5">
          <label
            for="name"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
           Full Name
          </label>
          <input
            type="text"
            name="full_name"
            id="name"
            placeholder="Kamali Florb"
            class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"
           required
            />
        </div>
        <div class="mb-5">
            <label
              for="name"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
            Phone Number
            </label>
            <input
              type="text"
              name="phone"
              id="name"
              placeholder="+2507..."
              required
              class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"            />
          </div>

          <div class="mb-5">
            <label
              for="name"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
             Birth Date
            </label>
            <input
              type="date"
              name="birth_date"
              id="name"
              placeholder="Kamikazi"
              required
              class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"            />
          </div>
       
      

    
              <div class="max-w-2xl mx-auto my-4">

                <label for="countries" class="mb-3 block text-base font-medium text-[#07074D]">Select an option</label>
                    <select
                    name="village"
                    id="countries" class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md">
                    {%for dt in form.village%}
                    {{dt}}
                    {%endfor%}
           
                </select>
            
                <div class="mb-5">
                    <label
                      for="name"
                      class="mb-3 block text-base font-medium text-[#07074D]"
                    >
                     Short Description
                    </label>
                    <textarea
                      name="description"
                     rows="8"
                      class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"
                    ></textarea>
                  </div>
            
                <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
            </div>
        <div>
          <button
            class="mb-1.5 block w-full text-center text-white AppBgColor px-2 py-2 font-semibold rounded-md"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>


    </div>
</div>





{% endblock%}