{% extends 'base/healthCenter/basePdf.html'%}
       
          <table id="table"  border="0" style="padding-top: 10px;">
            <td style="width:20%"><img src="static/images/undraw_medicine_b1ol.png" class="imgs" /></td>
            {%block name %}<td style="width:auto;margin-left:100px"><u><h1>Patient Report from {{start}} to {{to}}</h1></u></center></td>{%endblock%}
       
            {% block table%}
            <tr class="">
              <th>Number</th>
              <th>Full Name</th>
              <th>Insurance Name</th>
              <th>Paludism</th>
              <th>Phone Number</th>
              <th>Village</th>
              <th>Date of Birth</th>
              <th>Worker</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>
            {%for dt in all_mal%}

            <tr style="padding-top: 10px;">
              <td>{{forloop.counter}}</td>
              <td class="capitialise">{{dt.full_name|title}}   {{dt.lastname|title}}</td>
              <td>{{dt.insurance_name|title}}</td>
              <td>
              {{dt.sickness|title}}
              </td>
              <td>{{dt.phone}}</td>
              <td>{{dt.village}}</td>
              <td>{{dt.date_of_birth}}</td>
              <td>{{dt.worker}}</td>
              <td>{{dt.created_on}}</td>
            </tr>
      
          {% endfor%}
              {%endblock%}
      
