{% extends 'base/base.html' %}
{%load static%}
{%block title%}
Welcome RHW
{%endblock%}

{% block body%}
        <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
        <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">


<section class="relative  bg-blueGray-50">
<div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
        <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
            background-image: url('{%static 'images/pexels-pixabay-263402.jpg'%}');
          ">
          <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
        </div>
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="pr-12">
                <h1 class="text-white font-semibold text-5xl">
                 Rwanda Health Community Health
                </h1>
                <p class="mt-4 text-lg text-blueGray-200">
                    Rwanda's health worker community plays a vital role in providing healthcare services and promoting well-being throughout the country.                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
          <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </div>
      <section class="pb-10 bg-blueGray-200 -mt-24">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap">
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                <div class="px-4 py-5 flex-auto">
                  <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                    <i class="fas fa-laptop-medical"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Requesting Health Worker</h6>
                  <p class="mt-2 mb-4 text-blueGray-500">
                    We offer a service where you can request a health worker to come to your home for a consultation. You can provide your location information, and he or she will reach out to you.
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-4/12 px-4 text-center">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                <div class="px-4 py-5 flex-auto">
                  <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400">
                    <i class="fas fa-hospital"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Health Center</h6>
                  <p class="mt-2 mb-4 text-blueGray-500">
                    We offer a health center management solution that efficiently oversees the activities of health workers, ensuring the smooth operation of healthcare services.
                  </p>
                </div>
              </div>
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                <div class="px-4 py-5 flex-auto">
                  <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400">
                    <i class="fas fa-user-nurse"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Health Worker</h6>
                  <p class="mt-2 mb-4 text-blueGray-500">
                    Health workers are professionals who provide essential medical services and care to individuals and communities. They include doctors, nurses, pharmacists, and various support staff, working to maintain and improve public health.
                  </p>
                </div>
              </div>
            </div>
          </div>
           <footer class="relative  pt-8 pb-6 mt-1">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-6/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1">
            <p class="text-center">Made by <a target="_blank" href="https://www.linkedin.com/in/jambo-florbert-b30ba11ab/?originalSubdomain=rw" class="AppColor">Habimana Jambo Florbert</a>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
      </section>
      </section>

      {%endblock%}