{% extends 'base/healthCenter/base.html'%}

{% block css%}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>
{%endblock%}


{% block main%}
<section class="container px-4 mx-auto mt-10">

<div class="flex items-center justify-center p-4">
  
  
    <div class="mx-auto w-full max-w-[550px]">
        {%if form_pass.errors%}
        <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{form_pass.errors}}</p>
        </div>
        {%endif%}
        {%if info_form.errors%}
        <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{info_form.errors}}</p>
        </div>
        {%endif%}
        
        {% if messages %}
        <div class="uk-alert-success" uk-alert>
          {% for message in messages %}
          <a class="uk-alert-close" uk-close></a>
          <p class="added">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif%}

        <form action="{% url 'settings_user'%}" method="POST">
            {% csrf_token%}
            <h4 class="mb-3 block text-[#07074D] font-bold underline text-xl text-center">Update Account information</h3>
              <div class="mb-5">
                <label
                  for="name"
                  class="mb-3 block text-base font-medium text-[#07074D]"
                >
                Full name
                </label>
                <input
                  type="text"
                  name="full_name"
                  id="name"
                  placeholder="07..."
                  value="{{request.user.full_name}}"
                  required
                  class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"            />
              </div>
            <div class="mb-5">
                <label
                  for="name"
                  class="mb-3 block text-base font-medium text-[#07074D]"
                >
                Phone Number
                </label>
                <input
                  type="text"
                  name="phone_number"
                  id="name"
                  placeholder="07..."
                  value={{request.user.phone_number}}
                  required
                  class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"            />
              </div>
            <div>
           <div class="flex flex-wrap">
            <div class="w-1/2">   <button
                class="uk-button  text-center text-white AppBgColor rounded-md"
              >
                Submit
              </button></div>
              <div class="w-1/2"> 
                <button
                class="uk-button  text-center text-white bg-blue-700 hover:bg-blue-500 rounded-md"
                type="button" uk-toggle="target: #modal-example" >
                Change Password
              </button>

              </div>
           
           </div>
            </div>
          </form>
    </div>
  </div>  
</section>
<div id="modal-example" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title my-10">Changing Password form</h2>
      <form action="{% url 'change_pass'%}" method="POST">
        {% csrf_token%}
          <div class="mb-5">
            <label
              for="name"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
            Recent Password
            </label>
            <input
              type="password"
              name="password"
              id="name"
              placeholder="*************"
              required
              class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"            />
          </div>
        <div class="mb-5">
            <label
              for="name"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
            New Passowrd
            </label>
            <input
              type="password"
              name="new_password"
              id="name"
              placeholder="*************"
           
              required
              class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"            />
          </div>
        <div>
          <div class="mb-5">
            <label
              for="name"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
            Re-New Passowrd
            </label>
            <input
              type="password"
              name="re_password"
              id="name"
              placeholder="*************"
              required
              class="w-full block w-full rounded-md border border-gray-300 focus:border-green-700 focus:outline-none focus:ring-1 focus:ring-green-700 py-2 px-1.5 text-gray-500 focus:shadow-md"            />
          </div>
        <div>
       <div class="flex flex-wrap">
        <div class="w-full">   <button 
            class="uk-button  text-center text-white AppBgColor rounded-md"
          >
            Submit
          </button></div>
        
       
       </div>
        </div>
      </form>
  </div>
</div>
</div>
{%endblock%}