{% extends 'base/healthCenter/base.html'%}

{% block main%}
<main>
    <div class="pt-6 px-4">
       <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
             <div class="flex items-center">
                <div class="flex-shrink-0">
                   <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{this_month_child}}</span>
                   <h3 class="text-base font-normal text-gray-500">Childhoods illnesses this Month</h3>
                </div>
                <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                    {{this_month_child_incr|safe}}%
                  
                </div>
             </div>
          </div>
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
             <div class="flex items-center">
                <div class="flex-shrink-0">
                   <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{this_month_maralia}}</span>
                   <h3 class="text-base font-normal text-gray-500">Malaria this month</h3>
                </div>
                <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                    {{this_month_maralia_incr|safe}}%
                 
                </div>
             </div>
          </div>
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
             <div class="flex items-center">
                <div class="flex-shrink-0">
                   <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{this_month_tube}}</span>
                   <h3 class="text-base font-normal text-gray-500">Tuberculosis this month</h3>
                </div>
                <div class="ml-5 w-0 flex items-center justify-end flex-1  text-green-500 text-base font-bold">
                   {{this_month_tube_incr|safe}}%
  
                </div>
             </div>
          </div>
       </div>
       <div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">
          <div class="bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
             <div class="flex items-center justify-between mb-4">
                <h3 class="text-xl font-bold leading-none text-gray-900">Health Workers 5 first does activity in this month</h3>
                <a href="{url 'members'}" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
                View all
                </a>
             </div>
             <div class="flow-root">
                <ul role="list" class="divide-y divide-gray-200">
{% for user in activites%}
                   <li class="py-3 sm:py-4">
                      <div class="flex items-center space-x-4">
                         <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate">
                               {{user.worker__full_name}}
                            </p>
                            <p class="text-sm text-gray-500 truncate">
                               {{user.worker__phone_number}}
                            </p>
                         </div>
                         <div class="inline-flex items-center text-base font-semibold text-gray-900">
                            {{user.c}}
                         </div>
                      </div>
                   </li>
                  
                 
                
                  {% endfor%}
                </ul>
             </div>
          </div>
          <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
             <div class="block w-full overflow-x-auto">
                <table class="items-center w-full bg-transparent border-collapse">
                   <thead>
                      <tr>
                         <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">Features</th>
                         <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">Total</th>
                      </tr>
                   </thead>
                   <tbody class="divide-y divide-gray-100">
                      <tr class="text-gray-500">
                         <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">Health Worker</th>
                         <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">{{members}}</td>
                       
                      </tr>
                      <tr class="text-gray-500">
                         <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">Total Malnutrition</th>
                         <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">{{malnutrition}}</td>
                        
                      </tr>
                      <tr class="text-gray-500">
                         <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">Total Contraception This month </th>
                         <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">{{contraception}}</td>
                        
                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </div>
    
{%endblock%}
